/* ----------------- Header and Navbar Area ----------------------*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: lightgray;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: linear-gradient(aqua, cyan, aquamarine);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1000;
}
header h2{
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

nav{
    display: flex;
    gap: 20px;
    white-space: nowrap;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

/* --------------------- Section Area ------------------------ */

section{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    color: white;
}

.card{
    padding: 20px;
    border-radius: 12px;
    background: linear-gradient(aqua, cyan, aquamarine);
    max-width: 1000px;
}
.card p{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
footer{
    height: 80px;
    background: linear-gradient(aqua, cyan, aquamarine);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    width: 100%;
}

body footer{
    margin-top: 100px;
}

